body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header {
    background-color: rgb(71, 1, 1);
    width: fit-content;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 14pt;
}

fieldset {
    width: 25%;
    margin: auto;
}

legend {
    font-size: 18pt;
    text-align: center;
    padding: 3px 6px;
}

input {
    margin: 0.4rem;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
}

.hidden {
    display: none;
}

h2 {
    text-align: center;
    color: aquamarine;
}